* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: beige;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border: 2px solid black;
  height: auto;
}

.logo {
  width: 140px;
  align-self: center;
  margin-left: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav_btns {
  display: flex;
}

ul {
  padding: 10px;
}

.nav_btns {
  display: flex;
}

.nav-items {
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
}

.list_item {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.time {
  text-align: right;
  margin-top: 6px;
}

button {
  background-color: thistle;
  border: 2px solid grey;
  outline: none;
  padding: 5px;
  box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, 0.4);
  cursor: pointer;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 80px;
  font-size: 37px;
}

.book-name {
  align-self: center;
}

.book-author {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

input {
  margin: 10px;
  border: 2px solid black;
  padding: 5px;
  width: 250px;
}

input::placeholder {
  font-weight: bold;
  color: rgb(102, 98, 98);
}

.addBtn {
  width: 60px;
  margin: 10px;
}

#add-book {
  display: block;
}

#list, #contact {
  display: none;
}

.footer-container {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 10px;
  display: flex;
  margin: auto auto;
  border: 3px solid black;
}

small {
  margin: auto;
  font-weight: 800;
  font-size: 16px;
}