* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.list-elements {
    border: 1px solid red;
}

li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100px;
	height: 100px;
}
